<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--부트스트랩 css 추가-->
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

	<h1>
		<span th:text="${session.member.team}"></span> 팀 게시판
	</h1>
	<br>
	<table class="table">
		<tr>
			<th>게시글제목</th>
			<th>작성자</th>
		</tr>
		<tr th:each="board:${boardlist}">
			<td><a th:href="@{'infoBoard?id='+${board.boardSeq}}"><span
					th:text="${board.title}"></span></a></td>
			<td><span th:text="${board.saveName}"></span></td>
		</tr>
		<tr>
			<td colspan="3" align="center"><input type="button"
				class="btn btn-primary" value="작성"
				onclick="location.href='insertBoard'"> <input type="button"
				class="btn btn-primary" value="돌아가기" onclick="location.href='main'">
			</td>
		</tr>
	</table>

	<nav style="text-align: center;">
		<ul class="pagination">
			<li class="disabled"><a href="#" aria-label="First"> <span
					aria-hidden="true">First</span>
			</a></li>
			<li class="disabled"><a href="#" aria-label="Previous"> <span
					aria-hidden="true">&lt;</span>
			</a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#" aria-label="Next"> <span aria-hidden="true">&gt;</span>
			</a></li>
			<li><a href="#" aria-label="Last"> <span aria-hidden="true">Last</span>
			</a></li>
		</ul>
	</nav>

	<table class="table">
		<tr>
			<td><input type="text" class=""></td>
			<td><input type="button" class="btn btn-primary" value="검색"
				onclick=""></td>
		</tr>
	</table>
	<!--부트스트랩 js, jquery 추가-->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!--custom js 추가-->
	<script src="/js/main.js"></script>
</body>
</html>