<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<h1><span th:text="${session.member.team}"></span> 팀 게시판</h1><br>
<table class = "table">
	<tr>
		<th>게시글제목</th>
		<th>작성자</th>
	</tr>
	<tr th:each="board:${boardlist}">
		<td><a th:href="@{'infoBoard?id='+${board.boardSeq}}"><span th:text="${board.title}"></span></a></td>
		<td><span th:text="${board.saveName}"></span></td>
	</tr>
	<tr>
		<td colspan="3" align="center">
			<input type="button" class="btn btn-primary" value="작성" onclick="location.href='insertBoard'">
			<input type="button" class="btn btn-primary" value="돌아가기" onclick="location.href='main'">
		</td>
	</tr>
</table>
    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--custom js 추가-->
    <script src="/js/main.js"></script>
</body>
</html>