<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<meta charset="utf-8">
<th:block layout:fragment="content">
    <h1 class="mt-4">마이 페이지</h1>
                        <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
                    <p>
                        Make sure to keep all page content within the
                        <code>#page-content-wrapper</code>
                        . The top navbar is optional, and just for demonstration. Just create an element with the
                        <code>#sidebarToggle</code>
                        ID which will toggle the menu when clicked.
                    </p>
<table class = "table">
	<tr>
		<th>아이디</th>
		<td><span th:text="${member.id}"></span></td>
	</tr>
	<tr th:if="${session.member.id.equals(member.id)}">
		<th>패스워드</th>
		<td><span th:text="${member.password}"></span></td>
	</tr>
	<tr>
		<th>이름</th>
		<td><span th:text="${member.name}"></span></td>
	</tr>
	<tr>
		<th>팀명칭</th>
		<td><span th:text="${member.team}"></span></td>
	</tr>
	<tr>
		<td colspan="4">
			<a href="main" class = "btn btn-primary">돌아가기</a>
			<a th:if="${session.member.id.equals(member.id)}" href="updateMember" class = "btn btn-primary">수정</a>
			<input th:if="${session.member.id.equals(member.id)}" type="button" value="삭제" onclick="delete_confirm()" class = "btn btn-primary">
			<script type="text/javascript">
				function delete_confirm(){
					if(confirm("delete?")){
						location.href="/deleteMember?id=[[${session.member.id}]]";
					}else{
						location.reload();
					}
				}
			</script>
		</td>
	</tr>
</table>
</th:block>
</html>