<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<meta charset="utf-8">
<th:block layout:fragment="content">
    <h1 class="mt-4"><span th:text="${session.member.team}"></span> 팀 </h1>
<table class = "table">
	<tr align="center">
		<td><strong>아이디</strong></td>
		<td><strong>이름</strong></td>
	</tr>
	<tr th:each="team:${teamlist}" align="center">
		<td><a th:href="@{'/getMemberDetail?id='+${team.memberId}}"><span th:text="${team.memberId}"></span></a></td>
		<td><span th:text="${team.name}"></span></td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<a href="/main" class="btn btn-primary">돌아가기</a>
		</td>
	</tr>
</table>
</th:block>
</html>