<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layouts/layout}">
<meta charset="utf-8">
<th:block layout:fragment="content">
	<h1 class="mt-4">Update</h1>
	<p>The starting state of the menu will appear collapsed on smaller
		screens, and will appear non-collapsed on larger screens. When toggled
		using the button below, the menu will change.</p>
	<p>
		Make sure to keep all page content within the
		<code>#page-content-wrapper</code>
		. The top navbar is optional, and just for demonstration. Just create
		an element with the
		<code>#sidebarToggle</code>
		ID which will toggle the menu when clicked.
	</p>
	<table class="table">
		<tr>
			<th>id</th>
			<td><input th:value="${session.member.id}" type="text" id="id"
				readonly></td>
		</tr>
		<tr>
			<th>password</th>
			<td><input th:value="${session.member.password}" type="text"
				id="password"></td>
		</tr>
		<tr>
			<th>name</th>
			<td><input th:value="${session.member.name}" type="text"
				id="name"></td>
		</tr>
		<tr>
			<th>team</th>
			<td><input th:value="${session.member.team}" type="text"
				id="team"></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="button"
				value="register" id="btnmemberupdate" class="btn btn-primary">
			</td>
		</tr>
	</table>
	<!--부트스트랩 js, jquery 추가-->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!--custom js 추가-->
	<script src="/js/main.js"></script>
</th:block>
</html>