<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<th:block th:fragment="topbarFragment">

    <!-- Topbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <button class="btn btn-primary" id="sidebarToggle">메뉴</button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                    <li class="nav-item active"><a class="nav-link" th:href="@{'getMemberDetail?id='+${session.member.id}}">마이페이지</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">로그아웃</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">추가기능개발중입니다.</a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#!">추가기능 1</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#!">추가기능 2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#!">추가기능 3</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</html>