<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layouts/layout}">
<meta charset="utf-8">
<th:block layout:fragment="content">
	<h1 class="mt-4"><span th:text="${work.title}"></span></h1>

	<table class="table">
		<tr>
			<th>작성 일시</th>
			<td><span th:text="${work.createdDate}"></span></td>
		</tr>
		<tr>
			<th>최종 수정일</th>
			<td><span th:text="${work.modifiedDate}"></span></td>
		</tr>
		<tr>
			<th>업무 기간</th>
			<td><span th:text="${work.start}"></span> ~ <span th:text="${work.end}"></span></td>
		</tr>
		<tr>
			<th>작성자</th>
			<td><span th:text="${work.saveName}"></span></td>
		</tr>
		<tr>
			<th>업무 설명</th>
			<td>
			<span th:utext="${work.description}"></span>
			</td>
        </tr>
        <tr>
			<th>과제 목록</th>
			<td>
				<ul th:each="eachmeta:${metalistIndex}" class="list-group">
					<li class='list-group-item'><a th:href="@{'/meta/' + ${eachmeta.saveTeam} + '/' + ${eachmeta.metaSeq}}"><span th:text="${eachmeta.title}"></span></a></li>
				</ul>
			</td>
        </tr>
        
		<tr>
			<td colspan="2" align="center">
				<a th:href="@{'/work/'+${team}}" class="btn btn-primary">돌아가기</a>
				<button th:if="${session.member.id.equals(work.saveId)}" type="button" class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#updatemodal">
                    수정
				</button>
				<button th:if="${session.member.id.equals(work.saveId)}" type="button" class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#deletemodal">
                    삭제
                </button>
			</td>
		</tr>
	</table>
    <input type="hidden" th:value = "${team}" id = "team">
    <input type="hidden" th:value = "${seq}" id = "seq">
    <input type="hidden" th:value = "${work.saveId}" id = "saveId">
    <input type="hidden" th:value = "${work.saveTeam}" id = "saveTeam">
    <input type="hidden" th:value = "${work.saveName}" id = "saveName">
	<!-- Modal -->
    <div class="modal fade" id="updatemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">수정</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <th>
                                <label for="title">title</label>
                            </th>
                            <td>
                                <input type="text" name="newtitle" id="updateTitle" value="New Event"
                                    class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="description">description:</label> </th>
                            <td>
								<div id="editor"></div>
									<script>
										const Editor = toastui.Editor;
										const editor = new Editor({
											el : document.querySelector('#editor'),
											initialEditType : 'markdown',
											previewStyle : 'vertical'
										});
									</script>
                            </td>
                        </tr>
                        <tr>
							<th><label for="metalist">metalist</label></th>
							<td>

								<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
								<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
								<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
								<script type="text/javascript" th:inline="javascript">
										$(function() {
											var targetdata = null;
											var targetitem = null;
											var targetmeta = null;
											
											/*<![CDATA[*/
											var sessionMember = /*[[ ${session.member} ]]*/
											/*]]*/
											
											console.log(sessionMember);
											var metalist = function(request, response) {
												$.ajax({
													data : {
														keyword : request.term
													},
													type : 'GET',
													url : "/meta/" + sessionMember.team + "/data/search",
													dataType : "json",
													success : function(data) {
														response($.map(data, function(item) {
															return [ {
																label : item.title,
																value : item.title,
																target : item
															} ];
														}));
														targetdata = data;
													}
												});
											};
											$("#metaauto").autocomplete({
												source : metalist,
												autoFocus : true,
												select : function(event, ui) {
													targetmeta = ui.item.target;
													action_add(targetmeta);
												}
											});
								
										});
										function action_add(data) {
											var text_add = data.title; //입력할 글씨
											var ul_list = $("#ul_list"); //ul_list선언
											var metalist = $('#metalist').val() + "";
											console.log(metalist);
											ul_list.append("<li class='list-group-item'>" + text_add + "</li>"); //ul_list안쪽에 li추가
											metalist = metalist + "," + data.metaSeq;
											console.log(metalist);
											$('#metalist').attr('value',metalist);
											console.log($('#metalist').val());
										}
									</script>
								<div class = "ui-front">
									<input id="metaauto" class="form-control">
								</div>
								<ul id="ul_list" class="list-group">
								</ul>
								<input type="hidden" id="metalist">
							</td>
						</tr>
                        <tr>
                            <th>
                                <label for="startdateandtime">starts:</label>
                            </th>
                            <td>
                                <input type="datetime-local" id="updateStart" />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="enddateandtime">ends:</label>
                            </th>
                            <td>
                                <input type="datetime-local" id="updateFinish" />
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <input type="button" value="수정" id="btnworkupdate" class="btn btn-primary">
                </div>
            </div>
        </div>
	</div>
	<div class="modal fade" id="deletemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">삭제</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <th>과제를 삭제하시겠습니까?</th>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <input type="button" value="삭제" id="btnworkdelete" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>