<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>
<h1>검색 결과가 없어요... <span th:text="${param.id}"></span></h1><br>

<table class="table">
<tr>
	<th>
		이전 페이지로 돌아가요
	</th>
	<td>
		 <a href="metasearch" class="btn btn-primary">돌아가기</a><br>
	</td>
</tr>
<tr>
	<th>
		메타 데이터를 추가해요
	</th>
	<td>
		<a href="insertMeta" class="btn btn-primary">추가하기</a>
	</td>
</tr>
</table>
<!--부트스트랩 js, jquery 추가-->
<script src="/js/jquery.min.js"></script>
</body>
</html>