<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<table class = "table">
<tr>
	<th>
		변수명칭
	</th>
	<td>
		<input type="text" id="id">
	</td>
	</tr>
	<tr>
	<th>
		변수타입
	</th>
	<td>
		<input type="text" id="type">
	</td>
	</tr>
	<tr>
	<th>
		영어명칭
	</th>
	<td>
		<input type="text" id="name_eng">
	</td>
	</tr>
	<tr>
	<th>
		한글명칭
	</th>
	<td>
		<input type="text" id="name_kor">
	</td>
	</tr>
	<tr>
	<th>
		설명
	</th>
	<td>
		<input type="text" id="explanation">
	</td>
	</tr>
	<tr>
	<td colspan="2" align="center">
		<input type="button" value = "등록!" id="btnmetainsert" class="btn btn-primary">
		<input type="button" value ="돌아가기" class="btn btn-primary" onclick="location.href='metasearch'">
	</td>
	</tr>
</table>
    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--custom js 추가-->
    <script src="/js/main.js"></script>
</body>
</html>