<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layouts/layout}">
<meta charset="utf-8">
<th:block layout:fragment="content">
	<h1 class="mt-4">
		<span th:text="${team}"></span> 팀 과제 게시판
	</h1>
	<table class="table">
		<tr align="center">
			<th>과제명</th>
			<th>작성자</th>
			<th>작성일</th>
		</tr>
		<tr th:each="meta:${boardPage}" align="center">
			<td><a th:href="@{'/meta/'+${team}+'/'+${meta.metaSeq}}"><span
					th:text="${meta.title}"></span></a></td>
			<td><span th:text="${meta.saveName}"></span></td>
			<td><span th:text="${meta.modifiedDate}"></span></td>
		</tr>
		<tr>
			<td colspan="3" align="right">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal"
					data-bs-target="#staticBackdrop">작성</button>
			</td>
		</tr>
	</table>
	<input type="hidden" th:value="${team}" id="team">
	<input type="hidden" th:value="${session.member.id}" id="saveId">
	<input type="hidden" th:value="${session.member.team}" id="saveTeam">
	<input type="hidden" th:value="${session.member.name}" id="saveName">
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">과제 작성</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<table class="table">
						<tr>
							<th>제목</th>
							<td><input type="text" id="title" class="form-control">
							</td>
						</tr>
						<tr>
							<th>내용</th>
							<td>
							<div id="editor"></div>
							<script>
								const Editor = toastui.Editor;
								const editor = new Editor({
									el : document.querySelector('#editor'),
									initialEditType : 'markdown',
									previewStyle : 'vertical'
								});
							</script>
							</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">취소</button>
					<input type="button" value="등록" id="btnmetainsert"
						class="btn btn-primary">
				</div>
			</div>
		</div>
	</div>
	<nav style="text-align: center;">
		<ul class="pagination">
			<li><a
				th:href="@{'/meta/'+${team}(size=${boardPage.size}, page=1, keyword=${keyword})}"
				aria-label="First"> <span aria-hidden="true">처음</span>
			</a></li>
			<li><span th:if="${pageNumberCurrent} > 1"> <a
					th:href="@{'/meta/'+${team}(size=${boardPage.size}, page=${pageNumberForward}, keyword=${keyword})}"
					aria-label="Previous"> <span aria-hidden="true">&lt;</span>
				</a>
			</span></li>
			<li th:if="${boardPage.totalPages > 0}" class="pagination"
				th:each="pageNumber : ${pageNumbers}"><a
				th:href="@{'/meta/'+${team}(size=${boardPage.size}, page=${pageNumber}, keyword=${keyword})}"
				th:text=${pageNumber}
				th:class="${pageNumber==boardPage.number + 1} ? active"> </a></li>
			<li><span th:if="${pageNumberCurrent} < ${pageNumberEnd}">
					<a
					th:href="@{'/meta/'+${team}(size=${boardPage.size}, page=${pageNumberNext}, keyword=${keyword})}"
					aria-label="Next"> <span aria-hidden="true">&gt;</span>
				</a>
			</span></li>
			<li><a
				th:href="@{'/meta/'+${team}(size=${boardPage.size}, page=${pageNumberEnd}, keyword=${keyword})}"
				aria-label="Last"> <span aria-hidden="true">마지막</span>
			</a></li>
		</ul>
	</nav>
	<form th:action="@{'/meta/'+${team}}" method="get">
		<table class="table">
			<tr>
				<th>검색키워드</th>
				<td><input type="text" th:value="${keyword}" value=""
					id="keyword" name="keyword" class="form-control"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit"
					class="btn btn-primary" value="검색"> <a
					th:href="@{'/meta/'+${team}(size=${boardPage.size}, page=1)}"
					class="btn btn-primary">초기화</a></td>
			</tr>
		</table>
	</form>

</th:block>

</html>