<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<meta charset="utf-8">
<th:block layout:fragment="content">
    <h1 class="mt-4">Meta List</h1>
<table class = "table">
	<tr align="center">
		<td><strong>명칭</strong></td>
		<td><strong>작성자</strong></td>
	</tr>
	<tr th:each="meta:${metalist}" align="center">
		<td><a th:href="@{'infoBoard?id='+${meta.id}}"><span th:text="${meta.nameKor}"></span></a></td>
		<td><span th:text="${meta.saveName}"></span></td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<a href="/index" class="btn btn-primary">돌아가기</a>
		</td>
	</tr>
</table>
</th:block>
</html>