<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layouts/layout}">
<meta charset="utf-8">
<th:block layout:fragment="content">
	<h1 class="mt-4">
		<span th:text="${meta.title}"></span>
	</h1>

	<table class="table">
		<tr>
			<th>작성 일시</th>
			<td><span th:text="${meta.createdDate}"></span></td>
		</tr>
		<tr>
			<th>최종 수정일</th>
			<td><span th:text="${meta.modifiedDate}"></span></td>
		</tr>
		<tr>
			<th>작성자</th>
			<td><span th:text="${meta.saveName}"></span></td>
		</tr>
		<tr>
			<th>과제 설명</th>
			<td><span th:utext="${meta.description}"></span></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><a th:href="@{'/meta/'+${team}}"
				class="btn btn-primary">돌아가기</a>
				<button th:if="${session.member.id.equals(meta.saveId)}"
					type="button" class="btn btn-primary" data-bs-toggle="modal"
					data-bs-target="#updatemodal">수정</button>
				<button th:if="${session.member.id.equals(meta.saveId)}"
					type="button" class="btn btn-primary" data-bs-toggle="modal"
					data-bs-target="#deletemodal">삭제</button></td>
		</tr>
	</table>
	<input type="hidden" th:value="${team}" id="team">
	<input type="hidden" th:value="${seq}" id="seq">
	<input type="hidden" th:value="${meta.saveId}" id="saveId">
	<input type="hidden" th:value="${meta.saveTeam}" id="saveTeam">
	<input type="hidden" th:value="${meta.saveName}" id="saveName">
	<!-- Modal -->
	<div class="modal fade" id="updatemodal" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">수정</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<table class="table">
						<tr>
							<th>과제명</th>
							<td><input type="text" id="updateTitle" class="form-control">
							</td>
						</tr>
						<tr>
							<th>과제 설명</th>
							<td>
							<div id="editor"></div>
							<script>
								const Editor = toastui.Editor;
								const editor = new Editor({
									el : document.querySelector('#editor'),
									initialEditType : 'markdown',
									previewStyle : 'vertical'
								});
							</script>
                			</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">취소</button>
					<input type="button" value="수정" id="btnmetaupdate"
						class="btn btn-primary">
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="deletemodal" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">삭제</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<table class="table">
						<tr>
							<th>과제를 삭제하시겠습니까?</th>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">취소</button>
					<input type="button" value="삭제" id="btnmetadelete"
						class="btn btn-primary">
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>