<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layouts/layout}">
<meta charset="utf-8">
<th:block layout:fragment="content">
	<h1 class="mt-4">기술지원요청 작성</h1>

	<table class="table">
		<tr>
			<th>제목</th>
			<td><input type="text" id="title"></td>
		</tr>
		<tr>
			<th>내용</th>
			<td><textarea class="form-control" id="content" rows="5"></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="button" value="등록"
				id="btntechinsert" class="btn btn-primary"> <input
				type="button" value="돌아가기" class="btn btn-primary"
				onclick="location.href='/qna/tech'"></td>
		</tr>
	</table>
</th:block>
</html>